{:type :invoke, :f :cas, :value [3 [3 3]], :time 42551200, :process 38, :index 0}
{:type :info, :f :cas, :value [3 [3 3]], :time 86979100, :process 38, :error [:unknown "Key does not exist"], :index 1}
{:type :invoke, :f :cas, :value [4 [4 2]], :time 304700500, :process 42, :index 2}
{:type :info, :f :cas, :value [4 [4 2]], :time 320168900, :process 42, :error [:unknown "Key does not exist"], :index 3}
{:type :invoke, :f :cas, :value [3 [3 2]], :time 366524900, :process 36, :index 4}
{:type :info, :f :cas, :value [3 [3 2]], :time 377398200, :process 36, :error [:unknown "Key does not exist"], :index 5}
{:type :invoke, :f :write, :value [2 0], :time 733679800, :process 21, :index 6}
{:type :ok, :f :write, :value [2 0], :time 747898100, :process 21, :index 7}
{:type :invoke, :f :cas, :value [3 [0 0]], :time 795426900, :process 30, :index 8}
{:type :info, :f :cas, :value [3 [0 0]], :time 810913500, :process 30, :error [:unknown "Key does not exist"], :index 9}
{:type :invoke, :f :read, :time 1163497100, :process 2, :value [0 nil], :index 10}
{:type :fail, :f :read, :time 1174625600, :process 2, :value [0 nil], :error [:unknown "Key does not exist"], :index 11}
{:type :invoke, :f :write, :value [1 3], :time 1209619300, :process 13, :index 12}
{:type :ok, :f :write, :value [1 3], :time 1218374000, :process 13, :index 13}
{:type :invoke, :f :cas, :value [0 [4 3]], :time 1426378900, :process 8, :index 14}
{:type :info, :f :cas, :value [0 [4 3]], :time 1437688500, :process 8, :error [:unknown "Key does not exist"], :index 15}
{:type :invoke, :f :write, :value [3 2], :time 1609999900, :process 86, :index 16}
{:type :ok, :f :write, :value [3 2], :time 1617230400, :process 86, :index 17}
{:type :invoke, :f :write, :value [1 2], :time 1702677500, :process 19, :index 18}
{:type :ok, :f :write, :value [1 2], :time 1710860200, :process 19, :index 19}
{:type :invoke, :f :cas, :value [2 [3 1]], :time 1778647200, :process 27, :index 20}
{:type :info, :f :cas, :value [2 [3 1]], :time 1788527900, :process 27, :error [:unknown "from value differs"], :index 21}
{:type :invoke, :f :write, :value [0 1], :time 1855843400, :process 58, :index 22}
{:type :ok, :f :write, :value [0 1], :time 1860210400, :process 58, :index 23}
{:type :invoke, :f :cas, :value [3 [2 4]], :time 2071851400, :process 39, :index 24}
{:type :ok, :f :cas, :value [3 [2 4]], :time 2080397900, :process 39, :index 25}
{:type :invoke, :f :cas, :value [1 [4 1]], :time 2289442800, :process 19, :index 26}
{:type :info, :f :cas, :value [1 [4 1]], :time 2298301900, :process 19, :error [:unknown "from value differs"], :index 27}
{:type :invoke, :f :cas, :value [3 [1 0]], :time 2518960100, :process 35, :index 28}
{:type :info, :f :cas, :value [3 [1 0]], :time 2527494900, :process 35, :error [:unknown "from value differs"], :index 29}
{:type :invoke, :f :cas, :value [3 [0 2]], :time 2595248500, :process 86, :index 30}
{:type :info, :f :cas, :value [3 [0 2]], :time 2606168500, :process 86, :error [:unknown "from value differs"], :index 31}
{:type :invoke, :f :cas, :value [4 [1 2]], :time 2828022800, :process 43, :index 32}
{:type :info, :f :cas, :value [4 [1 2]], :time 2839230800, :process 43, :error [:unknown "Key does not exist"], :index 33}
{:type :invoke, :f :read, :time 2858976700, :process 2, :value [0 nil], :index 34}
{:type :ok, :f :read, :time 2865453700, :process 2, :value [0 1], :index 35}
{:type :invoke, :f :write, :value [4 2], :time 3012681200, :process 49, :index 36}
{:type :ok, :f :write, :value [4 2], :time 3019911800, :process 49, :index 37}
{:type :invoke, :f :write, :value [4 2], :time 3058421800, :process 45, :index 38}
{:type :ok, :f :write, :value [4 2], :time 3063980300, :process 45, :index 39}
{:type :invoke, :f :write, :value [1 4], :time 3212954500, :process 69, :index 40}
{:type :ok, :f :write, :value [1 4], :time 3219769600, :process 69, :index 41}
{:type :invoke, :f :cas, :value [2 [2 1]], :time 3320428100, :process 28, :index 42}
{:type :info, :f :cas, :value [2 [2 1]], :time 3327059700, :process 28, :error [:unknown "from value differs"], :index 43}
{:type :invoke, :f :read, :time 3327393800, :process 2, :value [0 nil], :index 44}
{:type :ok, :f :read, :time 3341180300, :process 2, :value [0 1], :index 45}
{:type :invoke, :f :write, :value [1 2], :time 3522103100, :process 69, :index 46}
{:type :ok, :f :write, :value [1 2], :time 3527916300, :process 69, :index 47}
{:type :invoke, :f :write, :value [1 3], :time 3891403900, :process 14, :index 48}
{:type :ok, :f :write, :value [1 3], :time 3899631100, :process 14, :index 49}
{:type :invoke, :f :cas, :value [4 [4 2]], :time 4046469300, :process 46, :index 50}
{:type :info, :f :cas, :value [4 [4 2]], :time 4052090800, :process 46, :error [:unknown "from value differs"], :index 51}
{:type :invoke, :f :cas, :value [2 [1 2]], :time 4428978100, :process 22, :index 52}
{:type :info, :f :cas, :value [2 [1 2]], :time 4440401300, :process 22, :error [:unknown "from value differs"], :index 53}
{:type :invoke, :f :write, :value [4 1], :time 4567384800, :process 41, :index 54}
{:type :ok, :f :write, :value [4 1], :time 4572513200, :process 41, :index 55}
{:type :invoke, :f :cas, :value [2 [2 3]], :time 4735579800, :process 26, :index 56}
{:type :info, :f :cas, :value [2 [2 3]], :time 4740813000, :process 26, :error [:unknown "from value differs"], :index 57}
{:type :invoke, :f :write, :value [1 0], :time 5105937100, :process 17, :index 58}
{:type :ok, :f :write, :value [1 0], :time 5110862600, :process 17, :index 59}
{:type :invoke, :f :cas, :value [2 [0 4]], :time 5489815200, :process 29, :index 60}
{:type :invoke, :f :cas, :value [1 [2 0]], :time 5493652400, :process 17, :index 61}
{:type :info, :f :cas, :value [1 [2 0]], :time 5507180300, :process 17, :error [:unknown "from value differs"], :index 62}
{:type :ok, :f :cas, :value [2 [0 4]], :time 5509102100, :process 29, :index 63}
{:type :invoke, :f :cas, :value [2 [1 2]], :time 5783237700, :process 72, :index 64}
{:type :invoke, :f :read, :time 5785301000, :process 2, :value [0 nil], :index 65}
{:type :ok, :f :read, :time 5793921100, :process 2, :value [0 1], :index 66}
{:type :info, :f :cas, :value [2 [1 2]], :time 5794259900, :process 72, :error [:unknown "from value differs"], :index 67}
{:type :invoke, :f :cas, :value [4 [1 0]], :time 5954807000, :process 41, :index 68}
{:type :invoke, :f :write, :value [1 0], :time 5955674800, :process 67, :index 69}
{:type :ok, :f :write, :value [1 0], :time 5964327700, :process 67, :index 70}
{:type :ok, :f :cas, :value [4 [1 0]], :time 5966441500, :process 41, :index 71}
{:type :invoke, :f :cas, :value [3 [2 2]], :time 6218334200, :process 80, :index 72}
{:type :info, :f :cas, :value [3 [2 2]], :time 6232114100, :process 80, :error [:unknown "from value differs"], :index 73}
{:type :invoke, :f :cas, :value [4 [0 0]], :time 6264154000, :process 48, :index 74}
{:type :info, :f :cas, :value [4 [0 0]], :time 6270496100, :process 48, :error [:unknown "from value differs"], :index 75}
{:type :invoke, :f :write, :value [1 3], :time 6449934100, :process 14, :index 76}
{:type :ok, :f :write, :value [1 3], :time 6459615600, :process 14, :index 77}
{:type :invoke, :f :cas, :value [2 [4 2]], :time 6661358200, :process 122, :index 78}
{:type :ok, :f :cas, :value [2 [4 2]], :time 6669978900, :process 122, :index 79}
{:type :invoke, :f :write, :value [2 4], :time 7011616000, :process 78, :index 80}
{:type :ok, :f :write, :value [2 4], :time 7017485800, :process 78, :index 81}
{:type :invoke, :f :cas, :value [4 [1 0]], :time 7306302300, :process 47, :index 82}
{:type :ok, :f :cas, :value [4 [1 0]], :time 7312869000, :process 47, :index 83}
{:type :invoke, :f :cas, :value [2 [2 1]], :time 7336480200, :process 122, :index 84}
{:type :info, :f :cas, :value [2 [2 1]], :time 7342138500, :process 122, :error [:unknown "from value differs"], :index 85}
{:type :invoke, :f :cas, :value [3 [1 2]], :time 7398603400, :process 88, :index 86}
{:type :info, :f :cas, :value [3 [1 2]], :time 7403946200, :process 88, :error [:unknown "from value differs"], :index 87}
{:type :invoke, :f :cas, :value [1 [3 4]], :time 7490197500, :process 11, :index 88}
{:type :ok, :f :cas, :value [1 [3 4]], :time 7505613600, :process 11, :index 89}
{:type :invoke, :f :cas, :value [1 [1 1]], :time 7859820200, :process 12, :index 90}
{:type :info, :f :cas, :value [1 [1 1]], :time 7868429600, :process 12, :error [:unknown "from value differs"], :index 91}
{:type :invoke, :f :cas, :value [3 [2 4]], :time 8090833900, :process 32, :index 92}
{:type :info, :f :cas, :value [3 [2 4]], :time 8097247000, :process 32, :error [:unknown "from value differs"], :index 93}
{:type :invoke, :f :write, :value [2 0], :time 8444599300, :process 20, :index 94}
{:type :ok, :f :write, :value [2 0], :time 8449262600, :process 20, :index 95}
{:type :invoke, :f :cas, :value [4 [1 4]], :time 8475286700, :process 49, :index 96}
{:type :info, :f :cas, :value [4 [1 4]], :time 8480540000, :process 49, :error [:unknown "from value differs"], :index 97}
{:type :invoke, :f :cas, :value [2 [2 2]], :time 8844465300, :process 78, :index 98}
{:type :info, :f :cas, :value [2 [2 2]], :time 8856108500, :process 78, :error [:unknown "from value differs"], :index 99}
{:type :invoke, :f :write, :value [0 4], :time 8892055700, :process 5, :index 100}
{:type :ok, :f :write, :value [0 4], :time 8901755500, :process 5, :index 101}
{:type :invoke, :f :write, :value [1 0], :time 9139677000, :process 67, :index 102}
{:type :ok, :f :write, :value [1 0], :time 9144192500, :process 67, :index 103}
{:type :invoke, :f :cas, :value [2 [4 1]], :time 9448990400, :process 21, :index 104}
{:type :info, :f :cas, :value [2 [4 1]], :time 9454458800, :process 21, :error [:unknown "from value differs"], :index 105}
{:type :invoke, :f :write, :value [1 0], :time 9510059900, :process 10, :index 106}
{:type :ok, :f :write, :value [1 0], :time 9516185300, :process 10, :index 107}
{:type :invoke, :f :cas, :value [3 [1 1]], :time 9556063900, :process 37, :index 108}
{:type :info, :f :cas, :value [3 [1 1]], :time 9567377900, :process 37, :error [:unknown "from value differs"], :index 109}
{:type :invoke, :f :cas, :value [3 [1 2]], :time 9800733800, :process 39, :index 110}
{:type :info, :f :cas, :value [3 [1 2]], :time 9806178800, :process 39, :error [:unknown "from value differs"], :index 111}
{:type :invoke, :f :cas, :value [4 [0 4]], :time 10002901500, :process 41, :index 112}
{:type :ok, :f :cas, :value [4 [0 4]], :time 10009286100, :process 41, :index 113}
